.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.scroll-shadow-container {
  position: relative;
  @apply relative;

  .scroll-header {
    @apply fixed top-[30px] right-0 left-0 h-2 w-full;
    animation: shadowAnimation linear;
    animation-range: 0px 125px;
    animation-timeline: scroll(block start);
    animation-fill-mode: forwards;
  }

  @keyframes shadowAnimation {
    from {
      box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    to {
      box-shadow: 0px 1px 8px 0px #00000029;
    }
  }
}
