@import "tailwindcss";
@import "./tailwindAnimations.css";
@plugin 'tailwind-scrollbar';
@plugin "tailwindcss-animate";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* font */
  --font-sans: "Roobert_Pro", sans-serif;
  --font-mono: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  /* shadows */
  --shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.05);
  --shadow-hard: 0 1px 0 0 rgb(0 0 0 / 0.05);
  --shadow-scroll-indicator: 0px 3px 5px 0px rgba(0, 0, 0, 0.08);

  /* border */
  --default-border-width: 0.5px;

  /* font size */
  --text-3xs: 6px;
  --text-3xs--line-height: 1;
  --text-2xs: 8px;
  --text-2xs--line-height: 1.25;
  --text-xs: 11px;
  --text-xs--line-height: 1.25;
  --text-sm: 12px;
  --text-sm--line-height: 1.25;
  --text-base: 13px;
  --text-base--line-height: 1.25;
  --text-md: 14px;
  --text-md--line-height: 1.25;
  --text-lg: 16px;
  --text-lg--line-height: 1.25;
  --text-xl: 18px;
  --text-xl--line-height: 1.25;
  --text-2xl: 20px;
  --text-2xl--line-height: 1.25;
  --text-3xl: 24px;
  --text-3xl--line-height: 1.25;
  --text-4xl: 30px;
  --text-4xl--line-height: 1.25;
  --text-size-inherit: inherit;

  --text-icon-size: 16px;
  --text-icon-size--line-height: 1.05;
  --text-icon-size-sm: 12px;
  --text-icon-size-sm--line-height: 1.05;
  --text-icon-size-lg: 18px;
  --text-icon-size-lg--line-height: 1.05;

  /* line height */
  --leading-1_3: 1.3;
  --leading-1_5: 1.5;
  --leading-1_7: 1.7;

  /* radius */
  --radius: 6px;
  --radius-xs: calc(var(--radius) - 4px);
  --radius-sm: calc(var(--radius) - 2px);
  --radius-md: calc(var(--radius) + 2px);
  --radius-lg: calc(var(--radius) + 4px);
  --radius-xl: calc(var(--radius) + 6px);
  --radius-2xl: calc(var(--radius) + 8px);

  /* base color */
  --color-background: #ffffff;
  --color-foreground: #000000;
  --color-background-secondary: "#f3f3f3";
  --color-foreground-hover: #393939;
  --color-primary: #7c3aed;
  --color-primary-light: #a26cff;
  --color-primary-dark: #6d28d9;
  --color-border: #e0e0e0;
  --color-gray-light: #969597;
  --color-gray-dark: #575859;
  --color-disabled: #e6e6e6;
  --color-danger-background: #ffedef;
  --color-danger-background-hover: #ffdade;
  --color-danger-foreground: #c4242a;
  --color-warning-background: #fef3e3;
  --color-warning-foreground: #ff9e00;
  --color-warning-background-hover: #ffebd4;
  --color-success-background: #e6fce6;
  --color-success-background-hover: #cdfbcd;
  --color-success-foreground: #34a32d;

  /* component color */
  --color-page-background: #fcfcfc;
  --color-item-hover: #f8f8f8;
  --color-item-hover-active: #f0f0f0;
  --color-item-active: #f2f2f2;
  --color-item-select: #f3f3f3;
  --color-nav-item-hover: #efeeee;
  --color-nav-item-select: var(--color-disabled);
  --color-track-background: hsl(0 0% 89.8%);
  --color-icon-color: var(--color-gray-dark);
  --color-ring: var(--color-item-hover);
  --color-popover: var(--color-background);
  --color-popover-foreground: var(--color-foreground);

  /* text color */
  --color-text-default: var(--color-foreground);
  --color-text-disabled: var(--color-gray-light);
  --color-text-secondary: var(--color-gray-dark);
  --color-text-tertiary: var(--color-gray-light);
  --color-text-danger: var(--color-danger-foreground);
  --color-text-primary: var(--color-primary);

  --spacing: 4px;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background-secondary text-foreground text-base;
  }
}
