@theme {
  /* animations */
  --animate-indeterminate-progress-bar: indeterminate-progress-bar 1s infinite linear;
  @keyframes indeterminate-progress-bar {
    0% {
      transform: translateX(0) scaleX(0);
    }
    40% {
      transform: translateX(0) scaleX(0.4);
    }
    100% {
      transform: translateX(100%) scaleX(0.5);
    }
  }
}
