@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: 'Roobert_Pro', sans-serif;
  --font-mono: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

  --text-xxs: 10px;
  --text-xxs--line-height: 1;
  --text-xs: 11px;
  --text-xs--line-height: 1;
  --text-sm: 12px;
  --text-sm--line-height: 1;
  --text-base: 13px;
  --text-base--line-height: 1;
  --text-md: 14px;
  --text-md--line-height: 1;
  --text-lg: 18px;
  --text-lg--line-height: 1;
  --text-xl: 18px;
  --text-xl--line-height: 1;
  --text-2xl: 20px;
  --text-2xl--line-height: 1;
  --text-3xl: 24px;
  --text-3xl--line-height: 1;
  --text-4xl: 30px;
  --text-4xl--line-height: 1;

  --color-primary: #7c3aed;
  --color-primary-light: #a26cff;
  --color-primary-dark: #6d28d9;
}

@import './tailwindAnimations.css';
