@import 'tailwindcss';
@plugin "tailwindcss-animate";
@plugin '@tailwindcss/forms';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* font */
  --font-sans: 'Roobert_Pro', sans-serif;
  --font-mono: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

  /* shadows */
  --shadow-btn: 0px 1px 4px 0px rgba(0, 0, 0, 0.05);

  /* border */
  --default-border-width: 0.5px;

  /* font size */
  --text-xxs: 10px;
  --text-xxs--line-height: 1;
  --text-xs: 11px;
  --text-xs--line-height: 1;
  --text-sm: 12px;
  --text-sm--line-height: 1;
  --text-base: 13px;
  --text-base--line-height: 1;
  --text-md: 14px;
  --text-md--line-height: 1;
  --text-lg: 18px;
  --text-lg--line-height: 1;
  --text-xl: 18px;
  --text-xl--line-height: 1;
  --text-2xl: 20px;
  --text-2xl--line-height: 1;
  --text-3xl: 24px;
  --text-3xl--line-height: 1;
  --text-4xl: 30px;
  --text-4xl--line-height: 1;
  --text-icon-size: 16px;
  --text-icon-size--line-height: 1;
  --text-icon-size-sm: 12px;
  --text-icon-size-sm--line-height: 1;
  --text-icon-size-lg: 18px;
  --text-icon-size-lg--line-height: 1;

  /* radius */
  --radius: 6px;
  --radius-xs: calc(var(--radius) - 4px);
  --radius-sm: calc(var(--radius) - 2px);
  --radius-md: calc(var(--radius) + 2px);
  --radius-lg: calc(var(--radius) + 4px);
  --radius-xl: calc(var(--radius) + 6px);
  --radius-2xl: calc(var(--radius) + 8px);

  /* base color */
  --color-background: #ffffff;
  --color-foreground: #000000;
  --color-foreground-hover: #393939;
  --color-primary: #7c3aed;
  --color-primary-light: #a26cff;
  --color-primary-dark: #6d28d9;
  --color-border: #e0e0e0;
  --color-gray-light: #969597;
  --color-gray-dark: #575859;
  --color-disabled: #e6e6e6;

  /* component color */
  --color-page-background: #fcfcfc;
  --color-item-hover: #f8f8f8;
  --color-item-hover-active: #f0f0f0;
  --color-item-active: #f2f2f2;
  --color-item-select: #f3f3f3;
  --color-nav-item-hover: #efeeee;
  --color-nav-item-select: var(--color-disabled);
  --color-track-background: hsl(0 0% 89.8%);

  --color-icon-color: var(--color-gray-dark);
  --color-ring: var(--color-item-hover);
}

@import './tailwindAnimations.css';

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
