SERVER_PORT=3002
SUPABASE_URL="http://127.0.0.1:54321"
SUPABASE_SERVICE_ROLE_KEY=""
ELECTRIC_PROXY_URL="http://localhost:3003"
DATABASE_URL=
ELECTRIC_SOURCE_ID=
ELECTRIC_SECRET=my-little-buttercup-has-the-sweetest-smile
TRIGGER_SECRET_KEY=

# Slack OAuth Integration (required)
SLACK_CLIENT_ID=""
SLACK_CLIENT_SECRET=""
SERVER_URL="http://localhost:3002"
SLACK_APP_SUPPORT_URL=