.mentions {
  margin: 1em 0;
}

/* .mentions--singleLine .mentions__control {
  
} */
.mentions--singleLine .mentions__highlighter {
  @apply border rounded;
}
/*
.mentions--singleLine .mentions__input {
  padding: 1px;
  @apply border rounded
}

.mentions--multiLine .mentions__control {

}
.mentions--multiLine .mentions__highlighter {

  padding: 9px;
  min-height: 63px;
  @apply border rounded
}
.mentions--multiLine .mentions__input {
  padding: 9px;
  outline: 0;
  @apply border rounded
}

.mentions__suggestions__list {
  @apply bg-background border
}

.mentions__suggestions__item {
  padding: 5px 15px;
  @apply border-b last:border-b-0
}

.mentions__suggestions__item--focused {
  @apply bg-item-hover
}

.mentions__mention {
  position: relative;
  z-index: 1;
  color: blue;
  text-shadow: 1px 1px 1px white, 1px -1px 1px white, -1px 1px 1px white,
    -1px -1px 1px white;
  text-decoration: underline;
  pointer-events: none;
} */
