@import "./tailwind.css";
@import "./fonts.css";
@import "./buster.scss";

input {
  font-family:
    var(--font-app),
    -apple-system,
    "system-ui",
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

[data-color-scheme="dark"] {
  color-scheme: dark;
}

[data-color-scheme="light"] {
  color-scheme: light;
}

code,
pre {
  font-family: var(--font-mono);
}

html,
body {
  background-color: var(--color-background-secondary);
  min-width: 800px;
  /* // @media (prefers-color-scheme: dark) {
  //   background-color: #000000;
  //   color: #ffffff;
  // }
  // &.dark {
  //   background-color: #000000;
  //   color: #ffffff;
  // } */
}

p {
  @apply leading-1.5;
}

th {
  @apply text-base font-normal;
}

strong,
b {
  @apply font-semibold;
}
