.dataGrid {
  block-size: 100%;
  border-width: 0px;

  --rdg-color: var(--color-text-default);
  --rdg-border-color: var(--color-border);
  --rdg-header-background-color: var(--color-background);
  --rdg-selection-color: var(--color-primary);
  --rdg-checkbox-focus-color: var(--color-primary-light);
  --rdg-font-size: var(--text-base);
  --rdg-row-selected-background-color: var(--color-item-select);
  --rdg-row-selected-hover-background-color: var(--color-item-hover);
  --rdg-row-hover-background-color: var(--color-item-hover);
  --rdg-header-draggable-background-color: var(--color-item-hover);
  --rdg-background-color: var(--color-background);
}

.dataGrid :global(.rdg-header-row) {
  line-height: 1.3em;
}

.dataGrid :global(.rdg-header-row .rdg-cell) {
  font-weight: 500;
  overflow: hidden;
}

.dataGrid :global(.rdg-header-row .rdg-cell .rdg-header-sort-name) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block !important;
}

.dataGrid :global(.rdg-header-row .rdg-cell span:nth-child(1)) {
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dataGrid :global(.rdg-header-row .rdg-cell:last-child) {
  border-right: 0px solid;
}

.dataGrid :global(.rdg-cell:first-child) {
  border-left: 0px solid;
}

.dataGrid :global(.rdg-cell) {
  border-right: 0.5px solid var(--color-border);
  border-bottom: 0.5px solid var(--color-border);
}

.dataGrid :global(.rdg-row .rdg-cell) {
  border-bottom-color: var(--color-border);
  white-space: break-spaces;
  word-wrap: break-word;
  overflow-y: auto;
  border-right: 0.5px solid var(--color-border);
}

.dataGrid :global(.rdg-row .rdg-cell:last-child) {
  border-right: 0px solid;
}

.dataGrid :global(.rdg-row:has(+ div.rdg-row) .rdg-cell) {
  border-bottom: 0.5px solid var(--color-border) !important;
}

.dataGrid :global(.rdg-cell-copied) {
  background-color: var(--color-item-hover);
}

.dataGrid :global(*) {
  border-width: revert-layer;
  border-style: revert-layer;
  border-color: var(--color-border);
}
