## Code Guidelines
- Comment all code
- Try to borrow (&) instead of copy (clone) as much as possible.
- Use the tokio library for concurrent and async code.

## PRD Guidelines
- Make sure to update the prd files as you work on them marking the steps as done with ✅.
- Feel free to add notes and comments to the prd files to help with the development process.

## Testing Guidelines
- all tests need to be tokio async tests
- all unit tests should be inline with the code they are testing
- all integration tests should be in the tests folder
- all tests should comment the test case and the expected output
- Makes sure to use mockito::Server::new_async() instead of mockito::Server::new()
- Always print out errors and results in tests so they are easier to debug
